{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
   <div class="card">
    <h1>creer un billet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn-large " type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('entity_advert_index') }}"><button class="btn-large pink">Retour</button></a>
        </li>
    </ul>
       </div>
    </div>
{% endblock %}
